<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div align="center">
    <img src="vale_logo.jpg"></img>
    <link href="stylesheet.css" rel="stylesheet">

    <div>
        <a href="VALE v0.1.zip" download>
        <h1 class="download-text">Download</h1>
        </a>
    </div>
</div>